.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: none;
  border-top: none;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

